.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

h2 {
  color: SlateGray;
}

h4 {
  color: Grey;
}

h1 {
  background-color: Silver;
}
